<%= render "shared/header_logo" %>

<div class="comment-wrap">
  <div class="send-wrap">
      <% if user_signed_in? %>
        <%= form_with(model: [@store, @comment], url: store_comments_path, local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <%= f.text_area :text, placeholder: "コメントする", class: "send-box", rows: "6" %>
        <div class="form-group row" id="star">
          <div class="evaluation-text"><%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %></div>
          <div><%= f.hidden_field :star, id: :review_star %></div>
        </div>
        <%= f.submit "コメント投稿", class: "send-btn" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'comment[evaluation]',
    half: true,
  });
  </script>  