<%= render "shared/header_logo" %>

<div class="search-box-wrap">
  <span class="search-box"><h3>施設検索</h3></span>
    <%= search_form_for @p, url: search_store_stores_path do |f| %>
      <%= f.label :prefecture_id_eq, '都道府県検索', class: "prefecture-name" %>
      <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: '指定なし'},{class:"select-box", id:"prefecture-categorty"} %>

      <%= f.submit '検索', class:"search-btn" %>
    <% end %>
</div>