<%= render "shared/header_logo" %>

<div class="list-wrapper">

<%= search_form_for @p, url: searching_bathing_fee_stores_path do |f| %>
  <div class="search-box-wrap">
    <div class="bathing-fee-box">
      <p>入浴料</p>
      <%= f.radio_button :bathing_fee_lteq, '' %>
      指定なし
      <%= f.radio_button :bathing_fee_lteq, '1000' %>
      1000円以下
      <%= f.radio_button :bathing_fee_lteq, '2000' %>
      2000円以下
      <%= f.radio_button :bathing_fee_lteq, '3000' %>
      3000円以下
      <br>
      <%= f.submit '検索', class:"search-btn" %>
    </div>
  </div>
<% end %>

  <% if @p.result.exists? %>
    <div class="header-list-content">
      <h2 class="header-list-text">
        施設一覧画面
        <p class="list-text-head">※各施設名または写真をクリックすると詳細ページへアクセスできます！</p>
      </h2>
    </div>
  <% end %>

  <ul class="list-page-wrap">
  <% if @results.length != 0 %>
    <% @results.each do |result| %>
      <li class="list-list">
        <div class="store-img-content">
          <%= link_to image_tag(result.image, class: "store-img"), store_path(result) %>
        </div>
        <div class="store-name-content">
          <div class="name-content"><%= link_to result.store_name, store_path(result) %></div>
          <div class="desc-content"><%= result.description %></div>
        </div>
      </li>
    <% end %>
  </ul>
  <% else %>

  <div class="check-wrap">
    <p class="empty-result">該当する施設はありませんでした。</p>

    <div class="back-top-page">
      <%= link_to "TOPページへ戻る", root_path, class: "back-text" %>
    </div>
  </div>
  <% end %>
</div>