<%= render "shared/header_logo" %>

<div class="show-main-container">
  <div class="detail-warp">
    <div class="detail-img">
      <%= image_tag @store.image, class: "img-detail" %>
    </div>

    <table class="detail-table-store">
      <tbody>
        <tr>
          <th class="detail-list-store">施設名</th>
          <td class="detail-name-store"><%= @store.store_name %></td>
        </tr>

        <tr>
          <th class="detail-list-store">入浴料</th>
          <td class="detail-name-store"><%= @store.bathing_fee %>円</td>
        </tr>

        <tr>
          <th class="detail-list-store">サウナ室温度</th>
          <td class="detail-name-store"><%= @store.sauna_temp %>℃</td>
        </tr>

        <tr>
          <th class="detail-list-store">水風呂温度</th>
          <td class="detail-name-store"><%= @store.water_temp %>℃</td>
        </tr>

        <tr>
          <th class="detail-list-store">オートロウリュ</th>
          <td class="detail-name-store"><%= @store.rouryu.name %></td>
        </tr>

        <tr>
          <th class="detail-list-store">外気浴スペース</th>
          <td class="detail-name-store"><%= @store.outside_bath.name %></td>
        </tr>

        <tr>
          <th class="detail-list-store">休憩スペース</th>
          <td class="detail-name-store"><%= @store.break_space.name %></td>
        </tr>

        <tr>
          <th class="detail-list-store">都道府県</th>
          <td class="detail-name-store"><%= @store.prefecture.name %></td>
        </tr>

        <tr>
          <th class="detail-list-store">住所</th>
          <td class="detail-name-store"><%= @store.address %></td>
        </tr>

        <tr>
          <th class="detail-list-store">電話番号</th>
          <td class="detail-name-store"><%= @store.phone_number %></td>
        </tr>

      </tbody>
    </table>

    <div class="detail-desc">
      <span class="box-title">おすすめポイント!</span>
      <p><%= @store.description %></p>
    </div>
  </div>

<div class="comment-wrap">
  <div class="send-warp">
    <% if user_signed_in? %>
      <%= link_to "コメント投稿する", new_store_comment_path(@store), class: "send-btn" %>
    <% end %>
  </div>

  <div class="border-line"></div>

  <h3 class="comment-header-text">コメント一覧</h3>
    <% @comments.each do |comment| %>
      <div class="comment-detail">
        <div class="nickname-user"><%= link_to comment.user.nickname, user_path(comment.user_id) %></div>
        <div class="baloon">
          <div class="date-time"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
          <br>
          <div class="comment-txt"><%= comment.text %></div>
          <div class="star-icon" id="star-rate-<%= comment.id %>"></div>
            <script>
            $('#star-rate-<%= comment.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= comment.evaluation %>,
            });
            </script>
        </div>
      </div>

    <% end %>
</div>