
<% if @user.is_deleted == false %>
<%= render "shared/header_logo" %>
  <div class="user-show-top">
    <% if current_user.id == @user.id %>
      <ul class="user-show-list">
        MENU
        <li class="show-list"><span><i class="fas fa-chevron-down"></i></span>
          <ul class="list-detail">
            <li class="list-single"><%= link_to "マイページ編集", edit_user_registration_path %></li>
            <li class="list-single"><%= link_to "コメント一覧", list_user_path(@user) %></li>
            <li class="list-single"><%= link_to "会員退会", unsubscribe_user_path(current_user.id) %></li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>


  <div class="user-detail-wrapper">
    <div class="user-detail-head">
      <div class="user-head-text">
        ユーザー詳細ページ
      </div>

      <% if current_user.id == @user.id %>
        <table class="detail-table-user">
          <tbody>

            <tr>
              <th class="detail-list-user">お名前</th>
              <td class="detail-name-user"><%= @user.last_name %>  <%= current_user.first_name %></td>
            </tr>

            <tr>
              <th class="detail-list-user">生年月日</th>
              <td class="detail-name-user"><%= @user.birthday %></td>
            </tr>

            <tr>
              <th class="detail-list-user">メールアドレス</th>
              <td class="detail-name-user"><%= @user.email %></td>
            </tr>

            <tr>
              <th class="detail-list-user">ニックネーム</th>
              <td class="detail-name-user"><%= @user.nickname %></td>
            </tr>

            <tr>
              <th class="detail-list-user">サ活エリア</th>
              <td class="detail-name-user"><%= @user.my_area %></td>
            </tr>

            <tr>
              <th class="detail-list-user">サ活歴</th>
              <td class="detail-name-user"><%= @user.period.name %></td>
            </tr>

            <tr>
              <th class="detail-list-user">自己紹介文</th>
              <td class="detail-name-user"><%= @user.introduce %></td>
            </tr>

          </tbody>
        </table>
      <% else %>
        <table class="detail-table-user">
          <tbody>
            <tr>
                <th class="detail-list-user">ニックネーム</th>
                <td class="detail-name-user"><%= @user.nickname %></td>
              </tr>
              <tr>
                <th class="detail-list-user">サ活エリア</th>
                <td class="detail-name-user"><%= @user.my_area %></td>
              </tr>
              <tr>
                <th class="detail-list-user">サ活歴</th>
                <td class="detail-name-user"><%= @user.period.name %></td>
              </tr>
              <tr>
                <th class="detail-list-user">自己紹介文</th>
                <td class="detail-name-user"><%= @user.introduce %></td>
              </tr>
          </tbody>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="erase-wrap">
  <%= render "shared/header_logo" %>
    <div class="erase-user">
      該当するページは存在しません。
      <p class="erase-user-text">
        ※既にユーザーが退会している可能性があります。
      </p>
    </div>
  </div>
<% end %>