<%= render "shared/header_logo" %>

<div class="user-detail-wrapper">
  <div class="user-detail-head">
    <div class="user-head-text">
      ユーザー詳細ページ
    </div>
    <div class="user-detail-name">
      <p class="user-name">お名前</p>
      <%= current_user.last_name %>
      <%= current_user.first_name %>
    </div>
    <div class="user-detail-birth">
      <p class="user-birth">生年月日</p>
      <%= current_user.birthday %>
    </div>
    <div class="user-detail-nickname">
      <p class="user-nickname">ニックネーム</p>
      <%= current_user.nickname %>
    </div>
    <div class="user-detail-email">
      <p class="user-email">メールアドレス</p>
      <%= current_user.email %>
    </div>
  </div>
</div>

<div class="withdrawal"><%= link_to "退会ページはこちら", unsubscribe_path(current_user.id), class: "withdrawal-btn" %></div>