<%= render "shared/header_logo" %>

<div class="event-add">
  <%= link_to "イベント追加", new_event_path, class: 'post-btn-add' %>
</div>
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% if Event.exists? %>
    <% events.each do |event| %>
      <div>
        <%= event.execution.name %>
      </div>

      <div>
        <%= event.place %>
      </div>

      <div>
        <%= event.fee %>
      </div>

      <div>
        <%= event.start_time.to_s(:time_jp) %>から
      </div>
    <% end %>
  <% end %>
<% end %>