<!DOCTYPE html>
<html>
  <head>
    <title>Sauna36416</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/63753bcf5c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script rel="stylesheet">
  </head>

  <body>
  <% if flash[:notice] %>
    <div class="notification"><%= flash[:notice] %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
